body { margin: 0; }

p {

}

h1 {
    padding-top: 25vh;
}

h2 {
    /*font-size: 2em;*/
}

h3 {
    /*font-size: 1.5em;*/
}

h4 {

}

h5 {

}

h6 {

}

.main {
    text-align:center;
    /*background-color: black;*/
    /*color: white;*/
    color: black;
    font-size: 1em;
    overflow: auto;
}


.header {
    padding: 1em;
    right: 0;
    /*position: fixed;*/
    position: relative;
    text-align: center;
    /*font-size: 2.25em;*/
}
    .header * {
        border-bottom: 1px solid #ccc;
        padding: 1em;
        text-decoration: none;
        color: inherit;
    }


.logo {
    height: 84vh;
    margin: auto;
}
    .logo:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        /*animation: shake .5s;*/
        /* When the animation is finished, start again */
        /*animation-iteration-count: infinite;*/
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }


.feed {
    position: relative;
    margin: auto;
    width: 50em;
    top: -5em;
    padding: 0 2.5em;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
    .feed .date {
        padding-top: 5em;
    }

    .feed .post {
        /*margin: 1em 0;*/
        padding: 0 3em;
        border-top: 1px solid black;

        /*border-bottom: 1px solid black;*/
        /*border: 1px solid black;*/
        box-sizing: border-box;
        height: max-content;
        text-align: left;
    }

    .feed > div * {
        position: relative;
        display: block;
        margin: 1em 0;
        box-sizing: border-box;
        color: black;
    }

    .feed input { width: 50%; }
    .feed textarea { width: 100%; max-width: 100%; }

    .feed a { text-decoration: none; color: inherit; }
    .feed a:hover { text-decoration: none; }


.shop {
    position: relative;
    margin: auto;
    width: 51vw;
}
    .shop > div {
        float: left;
        position: relative;
        box-sizing: border-box;
        margin: 1vw;
        width: 15vw;
        height: 15vw;
        border: 1px solid black;
        word-break: break-all; word-wrap: break-word;

        -webkit-transition: background .5s;
        transition: background .5s;
        border-radius: .25em;
    }

    .shop .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: inherit;
        height: 0;
        transition: .5s ease;
        opacity: .9;
    }

    .shop .text {
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .shop > div:hover .overlay {
        height: 100%;
    }

    .shop > div:hover {
        background-color: #7a7a7a;
    }


.contact {
    vertical-align: middle;
    width: 200px;
    padding-top: 20vh;
    margin: auto;
    /*font-size: 2.25em;*/
}

.post h4 {
    right: 2em;
    position: absolute;
}

.postPage {
    position: relative;
    margin: 0 auto;
    width: 50em;
    padding: 0 2.5em;
    max-width: 100%;
    box-sizing: border-box;
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*border: 1px solid black;*/
}
    .postPage h2, .postPage h3, .postPage h4 {
        margin: 0.5em;
    }
    .postPage h2 {font-size: 3.5em;}
    .postPage h3 {font-size: 2em;}
    .postPage .date {font-size: 1em; position: absolute; left: .7em;}
    .postPage .time {font-size: 1em; position: absolute; right: .7em;}
    .postPage p {
        border-top: 1px solid black;
        margin: 1em;
        padding: 2em 1em;
        text-align: left;
        font-size: 1.3em;
    }

.iconTest {
    width: 40px;
    -webkit-transition: width 1s;
    height: 40px;
    position: relative;
}
    .iconTest:hover {
        -webkit-transition: width 1s ease 1s;
        width: 200px;
    }
    .iconTest * {
        background-color: black;
        /*height:20px;*/
        /*width:200px;*/
        /*transition-duration: 1s;*/
        /*transform-origin: left;*/
        position: absolute;

        /*transition:*/
            /*rotate 1s,*/
            /*background 1s;*/
        padding: 0;
    }
    .iconTest .top {
        -webkit-transition: transform 1s ease 1s;
        transition: transform 1s ease 1s;
        transform: rotate(45deg);
        width: inherit;
        height: 4px;
        transform-origin: 0 50%;
    }
    .iconTest .right {
        -webkit-transition: height 1s, transform 1s ease 1s;
        transition: height 1s, transform 1s ease 1s;
        transform: rotate(45deg);
        right: 0;
        height: inherit;
        width: 4px;
        transform-origin: 50% 0;
    }
    .iconTest .bottom {
        -webkit-transition: transform 1s ease 1s;
        transition: transform 1s ease 1s;
        /*transform: rotate(135deg);*/
        transform: rotate(45deg);
        bottom: 0;
        width: inherit;
        height: 4px;
        transform-origin: 100% 50%;
    }
    .iconTest .left {
        -webkit-transition: height 1s, transform 1s ease 1s;
        transition: height 1s, transform 1s ease 1s;
        transform: rotate(45deg);
        left: 0px;
        height: inherit;
        width: 4px;
        transform-origin: 50% 100%;
    }

    .iconTest:hover .top {
        -webkit-transition: transform 1s;
        transition: transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .right {
        -webkit-transition: height 1s, transform 1s;
        transition: height 1s, transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .bottom {
        -webkit-transition: transform 1s;
        transition: transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .left {
        -webkit-transition: height 1s, transform 1s;
        transition: height 1s, transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }

.upload {
    text-align: left;
    margin: 6em auto;
    width: 40em;
}
    .upload * {
        width: 100%;
    }
    .upload div {
        padding-bottom: 1em;
    }


iframe {
    width: 100%;
}
    iframe:focus { 
        outline: none;
    }
    iframe[seamless] { 
        display: block;
    }


input, textarea                 {   border: 1px solid darkgray; }
    input:focus, textarea:focus {   outline: none; }
