body { margin: 0; }

p {

}

h1 {
    padding-top: 25vh;
}

h2 {
    /*font-size: 2em;*/
}

h3 {
    /*font-size: 1.5em;*/
}

h4 {

}

h5 {

}

h6 {

}

button:focus, input[type="button"]:focus {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    text-align:center;
    /*background-color: black;*/
    /*color: white;*/
    color: black;
    font-size: 1em;
    overflow: auto;
}


.header {
    padding: 1em;
    right: 0;
    /*position: fixed;*/
    position: relative;
    text-align: center;
    /*font-size: 2.25em;*/
    margin-bottom: 1em;
}
    .header * {
        border-bottom: 1px solid #ccc;
        padding: 1em;
        text-decoration: none;
        color: inherit;
    }


.logo {
    height: 84vh;
    margin: auto;
}
    .logo:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        /*animation: shake .5s;*/
        /* When the animation is finished, start again */
        /*animation-iteration-count: infinite;*/
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }


.feed {
    position: relative;
    margin: auto;
    width: 50em;
    padding: 0 2.5em 5em 2.5em;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
    .feed .date {
        padding: 1.5em 0 1em 0;
    }

    .feed .post {
        padding: 0 3em;
        border-top: 1px solid black;
        box-sizing: border-box;
        height: max-content;
        text-align: left;
    }

    .feed .post h4 {
        right: 2em;
        position: absolute;
    }




.feed > div * {
        position: relative;
        display: block;
        margin: 1em 0;
        box-sizing: border-box;
        color: black;
    }

    .feed input { width: 50%; }
    .feed textarea { width: 100%; max-width: 100%; }

    .feed a { text-decoration: none; color: inherit; }
    .feed a:hover { text-decoration: none; }


.shop {
    position: relative;
    margin: auto;
    /*width: 51vw;*/
    width: 900px;
    padding-top: 1.5em;
}
    .shop > div {
        float: left;
        position: relative;
        box-sizing: border-box;
        /*margin: 1vw;*/
        /*width: 15vw;*/
        /*height: 15vw;*/
        margin: 10px;
        width: 280px;
        height: 280px;
        border: 1px solid black;
        word-break: break-all; word-wrap: break-word;

        -webkit-transition: background .5s;
        transition: background .5s;
        border-radius: .25em;
    }

    .shop .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: .9;
    }

    .shop .text {
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .shop > div:hover .overlay {
        height: 100%;
    }

    .shop > div:hover {
        background-color: #7a7a7a;
    }


.contact {
    vertical-align: middle;
    width: 200px;
    padding-top: 20vh;
    margin: auto;
    /*font-size: 2.25em;*/
}

.postPage {
    position: relative;
    margin: 0 auto;
    width: 50em;
    padding: .5em 2.5em;
    max-width: 100%;
    box-sizing: border-box;
    text-size: inherit;
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*border: 1px solid black;*/
}
    .postPage h2, .postPage h3, .postPage h4 {
        margin: 0.5em;
    }
    .postPage h2 {font-size: 3.5em;}
    .postPage h2 * {font-size: 1em;}
    .postPage h3 {font-size: 2em;}
    .postPage h3 * {font-size: 1em;}
    .postPage .date {font-size: 1em; position: absolute; left: .7em;}
    .postPage .time {font-size: 1em; position: absolute; right: .7em;}
    .postPage p {
        white-space: pre-wrap;
        border-top: 1px solid black;
        margin: 1em;
        padding: 2em 1em;
        text-align: left;
        font-size: 1.3em;
    }

    .postPage textarea {
        border-top: 1px solid black;
        margin: 1em;
        /*padding: 2em 1em;*/
        width: 100%;
        height: 50vh;
        text-align: left;
        font-size: 1.3em;
    }
    .tools {
        text-align: right;
        text-size: inherit;
    }
    .tools button {
        /*border-radius: 2px;*/
        border: none;
        font-size: 1em;
    }

.iconTest {
    width: 40px;
    -webkit-transition: width 1s;
    height: 40px;
    position: relative;
}
    .iconTest:hover {
        -webkit-transition: width 1s ease 1s;
        width: 200px;
    }
    .iconTest * {
        background-color: black;
        /*height:20px;*/
        /*width:200px;*/
        /*transition-duration: 1s;*/
        /*transform-origin: left;*/
        position: absolute;

        /*transition:*/
            /*rotate 1s,*/
            /*background 1s;*/
        padding: 0;
    }
    .iconTest .top {
        -webkit-transition: transform 1s ease 1s;
        transition: transform 1s ease 1s;
        transform: rotate(45deg);
        width: inherit;
        height: 4px;
        transform-origin: 0 50%;
    }
    .iconTest .right {
        -webkit-transition: height 1s, transform 1s ease 1s;
        transition: height 1s, transform 1s ease 1s;
        transform: rotate(45deg);
        right: 0;
        height: inherit;
        width: 4px;
        transform-origin: 50% 0;
    }
    .iconTest .bottom {
        -webkit-transition: transform 1s ease 1s;
        transition: transform 1s ease 1s;
        /*transform: rotate(135deg);*/
        transform: rotate(45deg);
        bottom: 0;
        width: inherit;
        height: 4px;
        transform-origin: 100% 50%;
    }
    .iconTest .left {
        -webkit-transition: height 1s, transform 1s ease 1s;
        transition: height 1s, transform 1s ease 1s;
        transform: rotate(45deg);
        left: 0px;
        height: inherit;
        width: 4px;
        transform-origin: 50% 100%;
    }

    .iconTest:hover .top {
        -webkit-transition: transform 1s;
        transition: transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .right {
        -webkit-transition: height 1s, transform 1s;
        transition: height 1s, transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .bottom {
        -webkit-transition: transform 1s;
        transition: transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }
    .iconTest:hover .left {
        -webkit-transition: height 1s, transform 1s;
        transition: height 1s, transform 1s;
        /*transition-property: transform, background-color;*/
        /*transition-duration:1s;*/
        /*transition-delay:0s, 1s;*/
        /*transition-timing-funtion:linear;*/
        transform: rotate(0);
    }

.upload {
    text-align: left;
    margin: 6em auto;
    width: 40em;
}
    .upload * {
        width: 100%;
    }
    .upload div {
        padding-bottom: 1em;
    }


iframe {
    width: 100%;
}
    iframe:focus { 
        outline: none;
    }
    iframe[seamless] { 
        display: block;
    }


input, textarea                 {   border: 1px solid darkgray; }
    input:focus, textarea:focus {   outline: none; }




/* Define how SqPaymentForm iframes should look */
.sq-input {
    border: 1px solid rgb(223, 223, 223);
    outline-offset: -2px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
    outline: 5px auto rgb(59, 153, 252);
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
    outline: 5px auto rgb(255, 97, 97);
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
    min-width: 200px;
    min-height: 20px;
    padding: 0;
    margin: 5px;
    line-height: 20px;
    box-shadow: 2px 2px 1px rgb(200, 200, 200);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    font-weight: bold;
    cursor:pointer;
}


/* Customize the "{{Wallet}} not enabled" message */
.wallet-not-enabled {
    min-width: 200px;
    min-height: 40px;
    max-height: 64px;
    padding: 0;
    margin: 10px;
    line-height: 40px;
    background: #eee;
    border-radius: 5px;
    font-weight: lighter;
    font-style: italic;
    font-family: inherit;
    display: block;
}

/* Customize the Apple Pay on the Web button */
.button-apple-pay {
    min-width: 200px;
    min-height: 40px;
    max-height: 64px;
    padding: 0;
    margin: 10px;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor:pointer;
    display: none;
}

/* Customize the Masterpass button */
.button-masterpass {
    min-width: 200px;
    min-height: 40px;
    max-height: 40px;
    padding: 0;
    margin: 10px;
    background-image: url(https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg);
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    cursor:pointer;
    display: none;
}

#sq-walletbox {
    float:left;
    margin:5px;
    padding:10px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

#sq-ccbox {
    float:left;
    margin:5px;
    padding:10px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

.load_more {
    width: 12em;
    height: 3em;
    margin: 2em 0 5em 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: .8em;

    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/
}

/*.load_more:hover {*/
    /*background-color: black;*/
    /*color: white;*/
/*}*/

.load_more:active {
    background-color: black;
    color: white;
    /*box-shadow: 0 5px #666;*/
    /*transform: translateY(4px);*/
}

.load_more:focus {outline:0;}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*.shop {*/
        /*width: 51vw;*/
    /*}*/
    /*.shop > div {*/
        /*margin: 1vw;*/
        /*width: 15vw;*/
        /*height: 15vw;*/
    /*}*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 900px) {
    .shop {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .shop {
        width: 90vw;
    }
    .shop > div {
        width: 90%;
        height: 30vw;
        margin: 5px 5%;
    }
    /*.shop > div {*/
        /*margin: 0vw;*/
        /*padding: 1vw;*/
        /*width: 15vw;*/
        /*height: 15vw;*/
    /*}*/
}